.item {
    width: 300px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;

}

.status {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}

.name {
    margin-left: 10px;
}